.center-text {
  text-align: center;
}

//Global variables
$headerHeight: 50px;

body {
  margin: 0;
.homePage {
    font-family: cursive;
  .header {
    background: #1976d2;
    height: $headerHeight;
    display: grid;
    grid-template-columns: 20% 50% 30%;
  .logo {
    width: 57px;
    height: 47px;
    margin-left: 18px;
    margin-top: 2px;
    background: #d3eafd;
    border-radius: 16px;
    }
  .center-search {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-bar {
      padding: 8px 15px 8px 20px;
      border: 2px solid #0069ff;
      border-radius: 5px;
      background: #d3eafd;
      color: #4767e1;
      transition: 1s;
      width: 180px;
      height: 13px;
      font-size: 16px;
      }
    .searching-result {
      width: 211px;
      padding-left: 12px;
      padding-right: 0px;
      background-color: #ddeafc;
      color: #6e789e;
      transition: 1s;
      position: absolute;
      top: $headerHeight;
    }
    }
  }
 }
}


.mainContent {
  display: flex;
  .mainOptions {
    background: #e6f4ff;
    width: 35%;
  }
  .product-container {
    width: 65%;
    .product-list {
      height: calc(100vh - #{$headerHeight});
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      .product {

      }
    }
  }
}

.side-menu--title {
  padding: 5px 2px;
  border-bottom: 2px solid #ddd;
}

.selectCheckbox option::before {
  content: "\f096";
  width: 1.3em;
  display: inline-block;
  margin-left: 2px;
}

.select-checkbox option:checked::before {
  content: "\f046";
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
