.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none
}

.product {
  width: 26%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerText {
  text-align: center;
}

.centerSearch {
  display: flex;
  justify-content: center;
}

.searchBar {
  margin-top: 1.5%;
  padding: 8px 28px 8px;
}

.heading {
  margin-left: 19.5%;
}

.logo {
  width: 19%;
  height: 18%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
