//Global variables
$headerHeight: 50px;
$mainColor: #1976d2;

::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 12px;
}
::-webkit-scrollbar {
  width: 8px;
}

.center-text {
  text-align: center;
}

body {
  margin: 0;
.homePage {
    font-family: cursive;
  .header {
    background: #1976d2;
    height: $headerHeight;
    display: grid;
    grid-template-columns: 20% 50% 30%;
  .logo {
    width: 57px;
    height: 47px;
    margin-left: 18px;
    margin-top: 2px;
    background: #d3eafd;
    border-radius: 16px;
    }
  .center-search {
    display: flex;
    justify-content: center;
    align-items: center;
    .search-bar {
      padding: 8px 15px 8px 20px;
      border: 2px solid #0069ff;
      border-radius: 5px;
      background: #d3eafd;
      color: #4767e1;
      transition: 1s;
      width: 180px;
      height: 13px;
      font-size: 16px;
      }
    .searchingResults {
        width: 211px;
        padding-left: 12px;
        padding-right: 0px;
        background-color: #ddeafc;
        color: #6e789e;
        transition: 1s;
        position: absolute;
        font-size: 12px;
        top: $headerHeight;
      .totalResults {
        font-weight: bold;
        margin-top: 6px;
        border-top: 1px solid $mainColor;
      }
     }
    }
  }
 }
}


.mainContent {
  display: flex;
  .mainOptions {
    background: #e6f4ff;
    width: 35%;
    .container {
      padding: 0 15px;
      .totalProducts {
        color: $mainColor;
      }
    }  
  }
  .product-container {
    width: 65%;
    .product-list {
      height: calc(100vh - #{$headerHeight});
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      .product {
        margin: 5px;
      }
    }
  }
}

.side-menu--title {
  padding: 5px 2px;
  border-bottom: 2px solid #ddd;
}

.selectCheckbox option::before {
  content: "\f096";
  width: 1.3em;
  display: inline-block;
  margin-left: 2px;
}

.select-checkbox option:checked::before {
  content: "\f046";
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
