.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none
}

.product {
  width: 45%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.centerSearch {
  display: flex;
  justify-content: center;
}

.searchBar {
  padding: 8px 28px 8px;
}
